<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http:/mybatis.rg/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.novel.freeboard.mapper.FreeBoardMapper">
	
	
	<sql id="search">
	<!-- 조건에 따른 쿼리문이 가변적으로 추가될 부분 -->
	<if test="searchType !=null">
			<if test="searchType == 't'.toString()">
			(free_board_title like '%'||#{keyword}||'%') AND
			</if>
			<if test="searchType == 'c'.toString()">
			(free_board_content like '%'||#{keyword}||'%') AND
			</if>
			<if test="searchType == 'w'.toString()">
			(free_board_writer like '%'||#{keyword}||'%') AND
			</if>
			<if test="searchType == 'tc'.toString()">
			((free_board_title like '%'||#{keyword}||'%')
							or
			(free_board_content like '%'||#{keyword}||'%')) AND
			</if>
			<if test="searchType == 'cw'.toString()">
			((free_board_content like '%'||#{keyword}||'%')
							or
			(free_board_writer like '%'||#{keyword}||'%')) AND
			</if>
			<if test="searchType == 'tcw'.toString()">
			((free_board_title like '%'||#{keyword}||'%')
							or
			(free_board_content like '%'||#{keyword}||'%')
							or
			(free_board_writer like '%'||#{keyword}||'%')) AND
			</if>
		</if>
	</sql>
	
	<select id = "getList" resultType="com.novel.freeboard.domain.FreeBoardVO">
	<![CDATA[
	select*from
	(select /*+ index_desc(free_board_tbl pk_board) */
	rownum rn, free_board_tbl.* from free_board_tbl where 
	]]>
	<include refid="search"></include>
	<!--글번호를 조절하기 위한 부분-->
	<![CDATA[
	rownum<= #{pageEnd})
	where rn > #{pageStart}
	]]>
	</select>
	
	<!-- free_board_tbl의 전체 글 갯수 -->
	<select id="countPageNum" resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM free_board_tbl where
				]]>
			<!-- 글 개수 조회구문에도 include 태그로 입력 -->
		<include refid="search"/>

	<![CDATA[
	free_board_num>0
	]]>
	</select>
	
	
	
	<select id = "select" resultType="com.novel.freeboard.domain.FreeBoardVO">
	select*from free_board_tbl 
	where 
	free_board_num = #{free_board_num}
	</select>
	
	
	<insert id = "insert">
	INSERT INTO free_board_tbl(free_board_num,free_board_title,free_board_content,free_board_writer)
	VALUES
	(free_board_num.nextval,#{free_board_title},#{free_board_content},#{free_board_writer})
	</insert>
	
	
	<delete id = "delete">
	DELETE FROM free_board_tbl 
	WHERE 
	free_board_num = #{free_board_num}
	</delete>
	
	<update id = "update">
	UPDATE free_board_tbl 
	SET
	free_board_title = #{free_board_title},
	free_board_content = #{free_board_content},
	free_board_mdate = SYSDATE
	WHERE
	free_board_num = #{free_board_num}
	</update>
	
	
	
	</mapper>