<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http:/mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.novel.paid.mapper.PaidNovelMapper">
		
			<sql id="search">
				<if test="searchType != null">
					<if test="searchType == 't'.toString()">
						(novel_title like '%'||#{keyword}||'%') AND
					</if>
					<if test="searchType == 'w'.toString()">
						(novel_writer like '%'||#{keyword}||'%') AND
					</if>
					<if test="searchType == 'tw'.toString()">
						((novel_title like '%'||#{keyword}||'%')
							or
						(novel_writer like '%'||#{keyword}||'%')) AND
					</if>
				</if>	
			</sql>
		
		
		
		<select id="selectMon" resultType="com.novel.novel.domain.NovelVO">
			<![CDATA[
			SELECT * FROM novel_tbl WHERE
			]]>	
				<include refid="search"></include>
			<![CDATA[
			 novel_week = 'Mon'
			]]>	
		</select>
		
		<select id="selectTue" resultType="com.novel.novel.domain.NovelVO">
			<![CDATA[
			SELECT * FROM novel_tbl WHERE
			]]>	
				<include refid="search"></include>
			<![CDATA[
			 novel_week = 'Tue'
			]]>	
		</select>
		
		<select id="selectWed" resultType="com.novel.novel.domain.NovelVO">
			<![CDATA[
			SELECT * FROM novel_tbl WHERE
			]]>	
				<include refid="search"></include>
			<![CDATA[
			 novel_week = 'Wed'
			]]>	
		</select>
		
		<select id="selectThu" resultType="com.novel.novel.domain.NovelVO">
			<![CDATA[
			SELECT * FROM novel_tbl WHERE
			]]>	
				<include refid="search"></include>
			<![CDATA[
			 novel_week = 'Thu'
			]]>	
		</select>
		
		<select id="selectFri" resultType="com.novel.novel.domain.NovelVO">
			<![CDATA[
			SELECT * FROM novel_tbl WHERE
			]]>	
				<include refid="search"></include>
			<![CDATA[
			 novel_week = 'Fri'
			]]>	
		</select>
		
		
		<select id="selectDetail" resultType="com.novel.paid.domain.PaidVO">
			SELECT *
			 FROM paid_tbl p INNER JOIN 
			novel_tbl n ON p.novel_num = n.novel_num WHERE paid_num = #{paidNum} and p.novel_num = #{novelNum} 
		</select>
		
		<select id="detailCon" resultType="com.novel.paid.domain.PaidVO">
			SELECT paid_content1,paid_content2 FROM paid_tbl WHERE paid_num = #{paidNum}
		</select>
		
		<select id="selectPaidList" resultType="com.novel.paid.domain.PaidVO">
			SELECT * FROM paid_tbl p INNER JOIN novel_tbl n ON n.novel_num = p.novel_num 
			WHERE p.novel_num = #{novelNum}
			
			<!--  
			<![CDATA[
			 select * from (SELECT * FROM
				( SELECT /*+ INDEX_DESC(paid_tbl pk_paid) */
				  ROWNUM rn, paid_tbl.* FROM paid_tbl WHERE 
			]]>	
			
			
			<![CDATA[
				  rownum <= #{pageEnd})
				    WHERE rn > #{pageStart}) where novel_num = #{novelNum}
			]]>  -->
		</select>
		
		<select id="countPageNum" resultType="long">
			<![CDATA[
				SELECT COUNT(*) FROM paid_tbl WHERE
			]]>
			
				
			<![CDATA[
				novel_num = #{novelNum}
			]]>
		</select>
		
		<insert id="insert">
			INSERT INTO paid_tbl (paid_num, novel_num, paid_snum, paid_title, paid_content1,paid_content2, paid_price) values
                        (paid_num.nextval, #{novel_num}, #{paid_snum}, #{paid_title}, #{paid_content1}, #{paid_content2}, #{paid_price})
		</insert>
		
		<delete id="delete">
			DELETE FROM paid_tbl WHERE paid_snum = #{paid_snum}
		</delete>
		
		<update id="update">
			UPDATE paid_tbl 
				SET 
			paid_title = #{paid_title}, paid_snum = #{paid_snum}, paid_content1 = #{paid_content1}, paid_content2 = #{paid_content2}, paid_mdate = sysdate, paid_price = #{paid_price} 
			WHERE paid_num = #{paid_num}
		</update>
		
		
		<update id="upHit">
			UPDATE paid_tbl SET paid_hit = (paid_hit + 1) WHERE paid_num = #{paid_num}
		</update>
		
		<insert id="addRec">
			INSERT INTO paid_rec_tbl (rec_num, user_num, paid_num) values
                        (rec_num.nextval, #{user_num}, #{paid_num})
		</insert>
		
		<update id="plusRec">
			UPDATE paid_tbl SET paid_rec = (paid_rec + 1) WHERE paid_num = #{paid_num}
		</update>
		
		<select id="recList" resultType="com.novel.paid.domain.PaidRecVO">
			select * from paid_rec_tbl where paid_num = #{paid_num} and user_num = #{user_num}
		</select>
		
		<insert id="addFav">
			INSERT INTO favorite_tbl (fav_num, novel_num, user_num) values
                          (fav_num.nextval, #{novel_num}, #{user_num})
		</insert>
		
		<delete id="delFav">
			delete from favorite_tbl where novel_num = #{novel_num} and user_num = #{user_num}
		</delete>
		
		<select id="favList" resultType="com.novel.paid.domain.PaidFavVO">
			SELECT * FROM favorite_tbl WHERE novel_num = #{novelNum} and user_num = #{userNum}
		</select>
	</mapper>