<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http:/mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.ict.mapper.NovelMapper">
	
		<select id="getList" resultType="com.ict.domain.NovelVO">
			SELECT * FROM novel_tbl
		</select>
		
		<select id="countPageNum" resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM novel_tbl WHERE
		]]>
		
			<include refid="search"></include>
			
		<![CDATA[
			novel_num > 0
		]]>
	</select>
		
		<insert id="insert">
			INSERT INTO novel_tbl (novel_num, novel_writer, novel_title, novel_tsnum, novel_category, novel_week) values
                        (novel_num.nextval,#{novel_writer},#{novel_title},#{novel_tsnum}, #{novel_category}, #{novel_week})
		</insert>
		
		<update id="update">
			UPDATE novel_tbl
			SET
			novel_title = #{novel_title}, novel_tsnum = #{novel_tsnum}, novel_category = #{novel_category}, novel_week = #{novel_week} WHERE novel_num = #{novel_num}
		</update>
		
	</mapper>