<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http:/mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.novel.novel.mapper.NovelMapper">
		
			<sql id="search">
				<if test="searchType != null">
					<if test="searchType == 't'.toString()">
						(novel_Title like '%'||#{keyword}||'%') AND
					</if>
					<if test="searchType == 'c'.toString()">
						(novel_Category like '%'||#{keyword}||'%') AND
					</if>
					<if test="searchType == 'w'.toString()">
						(novel_Writer like '%'||#{keyword}||'%') AND
					</if>
				</if>	
			</sql>
		
		
		<select id="getNovelList" resultType="com.novel.novel.domain.NovelVO">
			
			<![CDATA[
			SELECT * FROM
				(SELECT /*+ INDEX_DESC(novel_tbl pk_novel) */
				ROWNUM rn, novel_tbl.* FROM novel_tbl WHERE 
			]]>	
			
			<include refid="search"></include>
			
			<![CDATA[		
				ROWNUM <= #{pageEnd})
					WHERE rn > #{pageStart}
			]]>
		</select>
		
		<select id="countPageNum" resultType="int">
			<![CDATA[
				SELECT COUNT(*) FROM novel_tbl WHERE
			]]>
			
			<include refid="search"></include>
				
			<![CDATA[
				novel_num > 0
			]]>
		</select>
		
		<insert id="insertNovel">
			INSERT INTO novel_tbl (novel_num, novel_writer, novel_title, novel_tsnum, novel_category, novel_week) values
                        (novel_num.nextval,#{novel_writer},#{novel_title},#{novel_tsnum}, #{novel_category}, #{novel_week})
		</insert>
		
		<delete id="deleteNovel">
			DELETE FROM novel_tbl WHERE novel_num = #{novel_num}
		</delete>
		
		<select id="detailNovel" resultType="com.novel.novel.domain.NovelVO">
			SELECT * FROM novel_tbl WHERE novel_num = #{novel_num}
		</select>
		
		<update id="updateNovel">
			UPDATE novel_tbl SET 
			novel_title = #{novel_title}, novel_tsnum = #{novel_tsnum}, novel_category = #{novel_category}, novel_week = #{novel_week}, novel_end = #{novel_end} 
			WHERE novel_num = #{novel_num}
		</update>
		
		
		
	</mapper>