<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http:/mybatis.org/dtd/mybatis-3-mapper.dtd">

	
<mapper namespace="com.novel.user.mapper.UserMapper">
	
	
	<!-- ■ 해당 유저 정보 가져오기 -->
	
		<!-- ● 1. ResultMap : UserVO
			      1)기존 컬럼명과 vo의 변수명이 다르거나 2) 구조가 달라질 때(ex. 컬럼 하나에 List<xxVO>로 들어오는 경우) 사용 -->
		<resultMap type="com.novel.user.domain.UserVO" id="userMap">
			<id property="user_id" column="user_id"/>
			<result property="user_num" column="user_num"/>
			<result property="user_id" column="user_id"/>
			<result property="user_pw" column="user_pw"/>
			<result property="user_name" column="user_name"/>
			<result property="user_pnum" column="user_pnum"/>
			<result property="user_email" column="user_email"/>
			<result property="user_coin" column="user_coin"/>
			<result property="user_coupon" column="user_coupon"/>
			<result property="user_rdate" column="user_rdate"/>
			<result property="user_auth_mdate" column="user_auth_mdate"/>
			<result property="user_enabled" column="user_enabled"/>
			<collection property="authList" resultMap="authMap"/>			
		</resultMap>
		
		<!-- ● 2. ResultMap :AuthVO -->
		<resultMap type="com.novel.user.domain.AuthVO" id="authMap">
			<result property="auth_num" column="auth_num"/>
			<result property="user_id" column="user_id"/>
			<result property="auth" column="auth"/>
		</resultMap>
		
		<!-- ● 3. SELECT 쿼리문 -->
		<select id="getUserInfo" resultMap="userMap">
			SELECT
		        u.user_num, u.user_id, u.user_pw, u.user_name, u.user_pnum, u.user_email, u.user_coin, u.user_coupon, u.user_rdate, u.user_auth_mdate, u.user_enabled,
		        a.auth
   			FROM
        		user_tbl u 
        	LEFT OUTER JOIN 
        		auth_tbl a 
        	on 
        		u.user_id = a.user_id
    		WHERE
        		u.user_id = #{user_id}
		</select>
		
		<select id="getUserInfo2" resultMap="userMap">
			SELECT * FROM user_tbl WHERE user_id = #{user_id}
		</select>
		
		
		
		
		<!-- ■ 회원가입 로직 - 회원 정보 기입-->
		<insert id="insertMemberTbl">
			INSERT INTO user_Tbl(user_num, user_id, user_pw, user_name, user_pnum, user_email)
				VALUES
			(user_num.nextval, #{user_id}, #{user_pw}, #{user_name}, #{user_pnum}, #{user_email})
		</insert>
	
	
		<!-- ■ 회원가입 로직 - 권한 목록 기입-->
		<!-- collection : List<VO>의 변수명 / item : 변수명 / separator : 각 사이클과 사이클 사이에 넣을 문자(한칸 띄워줘야 에러 안남. 콤마를 넣는 경우도) -->
		<update id="insertMemberAuth">
			INSERT ALL
				<foreach collection="authList" item="item" separator=" ">
					INTO auth_tbl(auth_num, user_id, auth)
						VALUES
					(auth_num.nextval, #{item.user_id}, #{item.auth})
				</foreach>
			SELECT *
				FROM DUAL
		</update>




</mapper>
