<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http:/mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.novel.charge.mapper.ChargeMapper">
	
	<insert id="insertPay">
		INSERT INTO charge_tbl 
		(charge_num, merchant_uid, itemname, user_num, charge_price)
			VALUES
		(charge_num.nextval, #{merchant_uid}, #{itemname},#{user_num}, #{charge_price})
	</insert>
</mapper>	